<br>

<div class="container">
  <h1> Online Examination </h1>
  <div class="row">
    <div class="offset-md-1 col-md-5">
      <a routerLink="/quizdetail" routerLinkActive = "active">
        <div id="iq-tile"><span>IQ & GK</span></div>
      </a>
    </div>


    <div class="col-md-5">
      <a href="/quizdetail.component.html">
        <div id="prog"><span>Programming</span>
        </div>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="offset-md-1 col-md-5">
      <a href="networking.html">
        <div id="network"><span>Network & Systems</span>
        </div>
      </a>
    </div>

    <div class="col-md-5">
      <a href="technology.html">
        <div id="tech"><span>Technology</span>
        </div>
      </a>

    </div>
  </div>
</div>

