<ngb-carousel  >
        <ng-template ngbSlide id="color">
          <img src="assets/ubit.jpg" height=450 width=100% alt="Random first slide">
          <div class="carousel-caption">
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide id="color2" >
          <img src="assets/slider1.jpg" height=450 width=100% alt="Random second slide">
          <div class="carousel-caption">
            <h3>Second slide label</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide id="color3" >
          <img src="assets/slider2.jpg " height=450 width=100% alt="Random third slide">
          <div class="carousel-caption">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          </div>
        </ng-template>
      </ngb-carousel>
<br> 
<br>
      <h1> Services </h1>
      <div id="home-tiles" class="row">
            <div class="offset-md-1 col-md-5">
              <a routerLink="/quiz"><div id="menu-tile"><span>Quiz</span></div></a>
            </div>
            <div class="col-md-5">
              <a href="single-category.html"><div id="specials-tile"><span>Items</span></div></a>
            </div>